<h1>Home Page</h1>
<%= image_tag('sensei.jpg', size: '150x150') %><br>
  <div id="left-column">
    <h2>Our Products</h2>
    <% @products.each do |product| %>
    <div class="product">
      <ul>
        <li><%= product.name %></li>
      </ul>
    </div>
    <% end %>
  </div>

  <div id="right-column">
    <h2>Our Cars</h2>
    <% @cars.each do |car| %>
    <div class="car">
      <ul>
        <li><%= car.year %> <%= car.make %> <%= car.model %></li>
      </ul>
    </div>
  <% end %>

</div>

<br clear="all" />
