<h1>Home Page</h1>
<%= image_tag('Ninja_Old_Header.png', size: '100x100') %>

<div id="left-column">
  <h2>Our Products</h2>
  <% @products.each do |product| %>
  <div class="product">
    <%= product.name %>
  </div>
  <% end %>
</div>

<div id="right-column">
  <h2>Our Cars</h2>
  <% @cars.each do |car| %>
  <div class="car">
    <%= car.year %> <%= car.make %> <%= car.model %>
  </div>
  <% end %>

</div>

<br clear="all" />
