<%= link_to('Create a new product', new_product_path) %>
<h1>Showing <%= pluralize(@products.count, 'Product') %></h1>
<ul id="products">
<% @products.each do |product| %>
  <li class="<%= cycle("even", "odd") %>">
    <%= link_to(product.name, product_path(product.id)) %>
    <%= number_to_currency(product.price) %>
    -- <%= link_to('edit', edit_product_path(product.id)) %>
    -- <%= link_to('delete', product_path(product.id), method: :delete, 'data-confirm' => 'Are you sure?') %>
    Created <%= time_ago_in_words(product.created_at) %> ago
  </li>
<% end %>
</ul>
